@import "tailwindcss";

@theme {
    --font-assistant: "Assistant", sans-serif; 
  }

html,
body {
    scroll-behavior: smooth;
    background-color: #f5f5f4;
}

/* EAYTHES */
.from-\[\#60a5fa\] {
    --tw-gradient-from: #60a5fa var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(96 165 250 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#1e40af\] {
    --tw-gradient-to: #1e40af var(--tw-gradient-to-position);
}

/* Avramidis Visuals */
.from-\[\#7dd3fc\] {
    --tw-gradient-from: #7dd3fc var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(125 211 252 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#0284c7\] {
    --tw-gradient-to: #0284c7 var(--tw-gradient-to-position);
}

/* Smart Safe */
.from-\[\#7f1d1d\] {
    --tw-gradient-from: #7f1d1d var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(127 29 29 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#b91c1c\] {
    --tw-gradient-to: #b91c1c var(--tw-gradient-to-position);
}

/* Spark Youth Center */
.from-\[\#c2410c\] {
    --tw-gradient-from: #c2410c var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(194 65 12 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#eab308\] {
    --tw-gradient-to: #eab308 var(--tw-gradient-to-position);
}

/* VPaint */
.from-\[\#4d7c0f\] {
    --tw-gradient-from: #4d7c0f var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(77 124 15 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#bef264\] {
    --tw-gradient-to: #bef264 var(--tw-gradient-to-position);
}