<footer class="mx-auto max-w-7xl px-6 md:flex md:items-end md:justify-between py-12 lg:px-8">
    <div class="flex flex-col items-start justify-between gap-6">
        <h4 class="text-4xl font-semibold">I'd love to work together.</h4>
        <a class="font-medium flex justify-start group items-center gap-x-1" href="mailto:info@teobourloglou.com">info@teobourloglou.com <svg class="w-5 -rotate-45 group-hover:rotate-0 transition-transform duration-300 h-auto"  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg></a>
    </div>
    <p class="mt-8 text-left sm:text-center text-sm/6 text-neutral-700 md:order-1 md:mt-0">&copy; <span x-data x-text="new Date().getFullYear()"></span> Teo Bourloglou. All rights reserved.</p>
</footer>
