<header x-data="{ menuOpen : false}">
    <nav
        class="flex items-center justify-between p-6 mx-auto max-w-7xl lg:px-8"
        aria-label="Global"
    >
        <div class="flex items-center gap-x-16">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="font-semibold">TEO BOURLOGLOU</span>
            </a>
        </div>
        <button
            @click="window.navigator.clipboard.writeText('info@teobourloglou.com');"
            class="hidden px-3 py-1 transition-all duration-300 shadow-sm cursor-pointer lg:flex lg:items-center lg:gap-x-4 lg:bg-white lg:rounded-full"
        >
            <span
                class="text-sm font-semibold leading-6 text-neutral-900">
                info@teobourloglou.com
            </span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-copy text-neutral-900"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
                />
                <path
                    d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
                />
            </svg>
        </button>
    </nav>
</header>