<div class="flex justify-center items-center h-full">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4">
        <a href="/projects" class="flex flex-col sm:aspect-3/2 group hover:bg-neutral-800 hover:scale-105 hover:z-20 relative transition-all duration-300 bg-neutral-200 rounded-xl p-4 items-start justify-end">
            <img src="/svg/device-gamepad.svg" class="object-contain w-8 relative transition-all duration-300 group-hover:opacity-60 group-hover:scale-110 group-hover:invert mb-2" alt="">
            <h3 class="text-xl font-medium text-neutral-900 group-hover:invert transition-colors duration-300">Personal Experiments</h3>
            <p class="font-normal text-neutral-700 group-hover:invert transition-colors duration-300">Experimental builds, concepts, and passion projects.</p>
        </a>
        <a href="/work" class="flex flex-col sm:aspect-3/2 group hover:bg-neutral-800 hover:scale-105 hover:z-20 relative transition-all duration-300 bg-neutral-200 rounded-xl p-4 items-start justify-end">
            <img src="/svg/device-laptop.svg" class="object-contain w-8 relative transition-all duration-300 group-hover:opacity-60 group-hover:scale-110 group-hover:invert mb-2" alt="">
            <h3 class="text-xl font-medium text-neutral-900 group-hover:invert transition-colors duration-300">Client Work</h3>
            <p class="font-normal text-neutral-700 group-hover:invert transition-colors duration-300">Custom solutions built for real-world needs.</p>
        </a>
        <div class="col-span-full flex gap-4">
            <a href="/about" class="flex flex-col grow group hover:bg-neutral-800 hover:scale-105 hover:z-20 relative transition-all duration-300 bg-neutral-200 rounded-xl p-4 items-start justify-end">
                <img src="/svg/lego.svg" class="object-contain w-8 relative transition-all duration-300 group-hover:opacity-60 group-hover:scale-110 group-hover:invert mb-2" alt="">
                <h3 class="text-xl font-medium text-neutral-900 group-hover:invert transition-colors duration-300">whoami</h3>
                <p class="font-normal text-neutral-700 group-hover:invert transition-colors duration-300">A little about me.</p>
            </a>
            <div class="flex gap-4 flex-col">
                <a href="https://github.com/teobourloglou" target="_blank" class="flex flex-col group hover:bg-neutral-800 hover:scale-105 hover:z-20 relative transition-all duration-300 bg-neutral-200 rounded-xl p-4 items-center justify-center">
                    <img src="/svg/github.svg" class="object-contain w-8 relative transition-all duration-300 group-hover:opacity-60 group-hover:scale-110 group-hover:invert" alt="">
                </a>
                <a href="https://linkedin.com/in/theologos-bourloglou-78759621b/" target="_blank" class="flex flex-col group hover:bg-neutral-800 hover:scale-105 hover:z-20 relative transition-all duration-300 bg-neutral-200 rounded-xl p-4 items-center justify-center">
                    <img src="/svg/linkedin.svg" class="object-contain w-8 relative transition-all duration-300 group-hover:opacity-60 group-hover:scale-110 group-hover:invert" alt="">
                </a>
            </div>
        </div>
        <a href="mailto:info@teobourloglou.com" class="flex flex-col sm:flex-row items-start sm:items-center justify-between group col-span-full hover:bg-neutral-800 hover:scale-105 hover:z-20 relative transition-all duration-300 bg-neutral-200 rounded-xl p-4">
            <span class="font-medium group-hover:invert text-lg">I'd love to work together.</span>
            <span class="group-hover:invert flex gap-2 items-center">
                info@teobourloglou.com
                <svg class="w-5 mt-1 -rotate-45 group-hover:rotate-0 transition-transform duration-300 h-auto"  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M15 16l4 -4" /><path d="M15 8l4 4" /></svg>
            </span>
        </a>
</div>