<div class="relative isolate pt-14">
    <div class="py-24 sm:py-32 lg:pb-40">
        <div class="px-6 mx-auto max-w-7xl lg:px-8">
            <div class="max-w-2xl mx-auto text-center">
                <h1 class="text-4xl font-bold tracking-tight text-black sm:text-8xl">
                    WEB DEVELOPER
                </h1>
                <div class="flex justify-evenly">
                    <p class="w-1/4 text-xs font-medium text-left text-black uppercase">
                        Currently freelancing
                    </p>
                    <p class="w-1/4 text-xs font-medium text-right text-black uppercase">
                        (2023 - PRESENT)
                    </p>
                </div>
            </div>
            <div class="flex justify-center mt-16 sm:mt-24">
                <img
                    class="aspect-[4/5] w-96 flex-none rounded-3xl object-cover"
                    src="https://images.unsplash.com/photo-1615109398623-88346a601842?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""
                />
            </div>
        </div>
    </div>
</div>