<div class="flex flex-col items-center px-6 pt-10 pb-24 lg:items-start sm:pb-32 lg:px-8 lg:py-40">
    <h1 class="mt-10 text-2xl font-medium text-center lg:text-left text-neutral-900 sm:text-4xl">I create websites & web apps<br>that work smoothly and simply.</h1>
    <p class="max-w-2xl mt-6 text-lg leading-8 text-center lg:text-left text-neutral-500">Fueled by my passion for modern technologies, I build products that I'm proud of while constantly learning along the way!</p>
    <div class="flex items-center justify-center mt-10 lg:justify-start gap-x-6">
        <a href="#contact" class="rounded-full bg-neutral-900 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm hover:bg-neutral-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-700">Contact me</a>
        <a href="#work" class="text-sm font-semibold leading-6 text-neutral-900">See my work <span aria-hidden="true">→</span></a>
    </div>
</div>