<div class="sticky top-0 col-span-6 isolate pt-14">
    <div class="py-24 sm:py-32 lg:pb-40">
        <div class="px-6 mx-auto max-w-7xl lg:px-8">
            <div class="flex flex-col items-start justify-start max-w-2xl gap-6 mx-auto">
                <img
                    class="flex-none object-cover w-36 aspect-square rounded-2xl"
                    src="https://images.unsplash.com/photo-1615109398623-88346a601842?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""
                />
                <div class="flex flex-col gap-2">
                    <h1 class="text-4xl text-neutral-800 sm:text-6xl">
                        I'm Teo Bourloglou
                    </h1>
                    <div class="flex justify-evenly">
                        <p class="w-full mr-auto text-2xl font-normal text-neutral-500">
                            Web Developer based in<br>Thessaloniki, Greece
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>