<div class="sticky top-0 col-span-6 isolate pt-14">
    <div class="py-24 sm:py-32 lg:pb-40">
        <div class="px-6 mx-auto max-w-7xl lg:px-8">
            <div class="flex flex-col items-start justify-start max-w-2xl gap-6 mx-auto">
                <img
                    class="flex-none object-cover w-56 aspect-square rounded-2xl"
                    src="/photos/profile.png"
                    alt="This is not me. It's just a photo of me"
                />
                <div class="flex flex-col gap-2">
                    <h1 class="text-4xl text-neutral-800 sm:text-6xl">
                        I'm Teo Bourloglou
                    </h1>
                    <div class="flex justify-evenly">
                        <p class="w-full mr-auto text-2xl font-normal text-neutral-500">
                            Web Developer based in<br>Thessaloniki, Greece
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>