<div class="flex flex-col items-center justify-center max-w-xl mx-auto gap-y-32 pb-24 sm:pb-32">
    <h2 class="text-2xl font-normal text-center text-neutral-900 lg:text-3xl">What I've been up to for the recent years ↓</h2>
    <div class="flow-root">
        <h4 class="text-center font-semibold text-xl mb-8">Work</h4>
        <ul role="list" class="-mb-8">
            <template x-for="position in data.positions"
                <li>
                    <div class="relative pb-8">
                        <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-neutral-400" aria-hidden="true"></span>
                        <div class="relative flex space-x-3 ">
                            <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full ring-4 ring-white">
                                <img class="size-6 object-contain" :src="position.image" alt="">
                            </span>
                            <div class="relative flex flex-col items-start flex-1 left-3 -top-2">
                                <h6 class="font-semibold text-neutral-900" x-text="position.title"></h6>
                                <p class="text-sm text-neutral-500" x-text="position.date"></p>
                            </div>
                        </div>
                    </div>
                </li>
            </template>
            <li>
                <div class="relative pb-8">
                    <div class="relative flex space-x-3">
                        <div>
                            <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full ring-4 ring-white">
                                <img class="size-6" src="/photos/positions/autospark.png" alt="">
                            </span>
                        </div>
                        <div class="relative flex flex-col items-start flex-1 left-3 -top-2">
                            <h6 class="font-semibold text-neutral-900">Autospark - eCommerce Manager</h6>
                            <p class="text-sm text-neutral-500">September 2020 - August 2021</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="flex flex-col gap-8 mt-16">
            <h4 class="text-center font-semibold text-xl">Education</h4>
            <div class="relative flex space-x-3">
                <div>
                    <span class="flex items-center justify-center w-8 h-8 bg-white rounded-full ring-4 ring-white">
                        <img class="size-6" src="/photos/positions/ihu.png" alt="">
                    </span>
                </div>
                <div class="relative flex flex-col items-start flex-1 left-3 -top-2">
                    <h6 class="font-semibold text-neutral-900">Bachelor - International Hellenic University<br>Department of Information and Electronic Engineering</h6>
                    <p class="text-sm text-neutral-500">September 2021 - Present</p>
                </div>
            </div>
        </div>
    </div>

</div>