<div id="projects" class="py-24 sm:py-32">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
        <div class="flex flex-col items-center justify-center max-w-xl mx-auto text-neutral-900 gap-y-32">
            <h2 class="text-2xl font-normal text-center lg:text-3xl">In my free time, I work on projects that let me experiment and learn new things.</h2>
            <h2 class="text-2xl font-normal text-center lg:text-3xl">Other times I create something random just for fun.</h2>
        </div>
        <div class="flex flex-col max-w-2xl gap-4 mx-auto mt-24 sm:mt-32 lg:mx-0 lg:max-w-none">
            <template x-for="project in data.projects">
                <a :href="project.link" target="_blank" class="flex flex-col items-center justify-start px-4 py-2 transition-all duration-500 sm:flex-row hover:bg-black hover:bg-opacity-5 gap-x-8 rounded-2xl">
                    <img class="w-12" :src="project.image" alt="">
                    <div class="flex flex-col items-center sm:items-start">
                        <h4 x-text="project.title" class="text-xl font-medium text-center text-neutral-900 sm:text-left"></h4>
                        <p x-text="project.description" class="text-center text-neutral-500 sm:text-left"></p>
                        <div class="flex items-center justify-start mt-2 gap-x-2">
                            <template x-for="technology in project.technologies">
                                <span x-text="technology" class="px-2 py-1 text-xs rounded-full bg-neutral-800 text-stone-100"></span>
                            </template>
                        </div>
                    </div>
                </a>
            </template>
        </div>
    </div>
</div>