<div class="relative isolate pt-14">
    <div class="pb-24 sm:pb-32 lg:pb-40">
        <div class="px-6 mx-auto max-w-7xl lg:px-8">
            <div class="flex flex-col items-center justify-center max-w-xl mx-auto text-neutral-900 gap-y-32">
                <h2 class="text-2xl font-normal text-center lg:text-3xl">Understanding your unique needs is the priority, delivering a personalized result, not a faceless corporate product.</h2>
                <h2 class="text-2xl font-normal text-center lg:text-3xl">Seamless digital solutions are delivered with care, driven by a passion for the craft.</h2>
                <h2 class="text-2xl font-normal text-center lg:text-3xl">Looking for high-quality, elegant website or web application? You’ve come to the right place!</h2>
                <h2 class="text-2xl font-normal text-center lg:text-3xl">Check out some of my work ↓</h2>
            </div>
        </div>
    </div>
</div>