<div class="relative isolate pt-14">
    <div class="py-24 sm:py-32 lg:pb-40">
        <div class="px-6 mx-auto max-w-7xl lg:px-8">
            <div class="flex flex-col items-center justify-center max-w-xl mx-auto gap-y-32">
                <h2 class="text-4xl font-bold text-center">I create high-quality, elegant websites and web applications with a passion for detail and simplicity.</h2>
                <h2 class="text-4xl font-bold text-center">I prioritize understanding your unique needs to deliver personalized, seamless digital solutions.</h2>
            </div>
        </div>
    </div>
</div>