<div class="relative isolate pt-14">
    <div class="py-24 sm:py-32 lg:pb-40">
        <div class="px-6 mx-auto max-w-7xl lg:px-8">
            <div class="flex flex-col items-center justify-center max-w-xl mx-auto gap-y-32">
                <h2 class="text-3xl font-normal text-center">I like computers, always did!</h2>
                <h2 class="text-3xl font-normal text-center">I prioritize understanding your unique needs to deliver a personalized result, not a faceless corporate product.</h2>
                <h2 class="text-3xl font-normal text-center">I deliver seamless digital solutions because building them is my passion.</h2>
                <h2 class="text-3xl font-normal text-center">If you want high-quality, elegant websites and web applications you're in the right place!</h2>
                <h2 class="text-3xl font-normal text-center">Don't believe me?<br>Check out some of my work ↓</h2>
            </div>
        </div>
    </div>
</div>