<div id="work" class="pb-24 sm:pb-32">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
        <div class="grid max-w-2xl grid-cols-1 gap-4 mx-auto mt-16 auto-rows-fr sm:mt-20 lg:mx-0 lg:max-w-none sm:grid-cols-2">

            <template x-for="work in data.works">
                <a :href="work.link" target="_blank" class="relative overflow-hidden bg-neutral-900 aspect-video lg:aspect-square rounded-2xl">
                    <div class="absolute right-0 -top-24 transform-gpu blur-3xl" aria-hidden="true">
                        <div :class="work.hex" class="aspect-[1404/767] w-[87.75rem] bg-gradient-to-r opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
                    </div>
                    <img src="/photos/grain.png" class="absolute z-20 w-full h-full" alt="">
                    <div class="absolute z-30 flex flex-col items-start w-full h-full px-4 py-8 justify-evenly">
                        <img :src="work.image" class="object-contain w-24 mt-auto" alt="">
                        <div class="mt-auto">
                            <h3 x-text="work.title" class="text-xl font-bold text-neutral-100"></h3>
                            <p x-text="work.description" class="font-normal text-neutral-200"></p>
                        </div>
                    </div>
                </a>
            </template>

        </div>
    </div>
</div>

