<div id="work" class="pb-24 sm:pb-32 mt-32">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
        <div class="grid max-w-7xl grid-cols-1 gap-y-4 lg:gap-x-4 mx-auto mt-16 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">

            <h2 class="text-center col-span-full text-4xl sm:text-5xl mb-10 font-medium">Quality Solutions Delivered</h2>

            <template x-for="work in data.works.slice(0, 4)">
                <div x-data="{ show : false }" x-intersect.half="show = true" x-show="true" x-bind:style="{ 'grid-column' : 'span ' + work.colspan + '/ span ' + work.colspan, 'transition-delay' : work.delay }" x-bind:class="show ? 'opacity-100 translate-y-2' : 'opacity-0'" class="relative -translate-y-2 transition-all duration-500 overflow-hidden bg-neutral-900 w-full rounded-2xl">
                    <div class="absolute right-0 -top-24 transform-gpu blur-3xl" aria-hidden="true">
                        <div :class="work.hex" class="aspect-[1404/767] w-[87.75rem] opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
                    </div>
                    <img src="/photos/grain.png" class="absolute opacity-40 z-20 w-full h-full" alt="">
                    <div class="z-30 relative flex flex-col gap-y-4 items-start w-full h-full p-6 justify-between">
                        <div class="flex justify-start items-center h-24">
                            <img :src="work.image" class="object-contain w-24" alt="">
                        </div>
                        <div>
                            <h3 x-text="work.title" class="text-xl font-bold text-neutral-100"></h3>
                            <p x-text="work.description" class="font-normal text-neutral-200"></p>
                        </div>
                        <div class="flex w-full gap-y-4 sm:gap-y-0 justify-start sm:gap-x-4 items-center">
                            <a :href="work.link" target="_blank" class="group bg-neutral-100 text-neutral-900 gap-x-1.5 flex justify-between items-center font-medium rounded-full px-3 py-1.5">
                                <svg class="group-hover:scale-110 origin-bottom-left transition-transform duration-300" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                                Visit website
                            </a>
                        </div>
                    </div>
                </div>
            </template>

        </div>
    </div>
</div>

